# Xcode
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods (미사용이지만 혹시 몰라)
Pods/
Podfile.lock

# 임시 파일
cameras_download.csv
*.log
